<div class="dropdown">
  <a class="btn  dropdown-toggle text-light" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    Administration
  </a>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <li><a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="Index">Användare</a></li>
    <li><a class="dropdown-item" asp-area="" asp-controller="Service" asp-action="Index">Tjänster</a></li>
    <li><a class="dropdown-item" asp-area="" asp-controller="StylistSchedule" asp-action="Index">Schema</a></li>
    <li><a class="dropdown-item" asp-area="" asp-controller="Booking" asp-action="AllBookings">Bokningar</a></li>

  </ul>
</div>
