<div class="dropdown">
  <a class="btn  dropdown-toggle text-light" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    Administration
  </a>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <li><a class="dropdown-item" asp-area="" asp-controller="Service" asp-action="Index">Hantera tjänster</a></li>

  </ul>
</div>
