@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - KlippCoApp</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/KlippCoApp.styles.css" asp-append-version="true" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Klipp&Co</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home"
                                asp-action="Index">Start</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Service"
                                asp-action="Index">Våra tjänster</a>
                        </li>
                        @* Om en användare är inloggad, kolla om denne är stylist eller admin och visa i så fall administrationsmeny *@
                        @if (SignInManager.IsSignedIn(User))
                        {
                            var user = await UserManager.GetUserAsync(User); // Hämta nuvarande användaren
                            var roles = await UserManager.GetRolesAsync(user); // Hämta roller för användaren
                            @if (roles.Contains("Admin") || roles.Contains("Stylist"))
                            {
                            <partial name="_AdministrationPartial" />
                            }
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer border-top mt-auto bg-dark text-light fixed-bottom">
        <div class="container">
            <div class="row">

                <div class="col-md mt-4 lh-lg">
                    <h3 class="h5">Öppettider</h3>

                    <span class="">Mån </span><span>09.00-20.00, </span>
                    <span class="">Tis </span><span>09.00-20.00, </span>
                    <br>
                    <span class="">Ons </span><span>09.00-20.00, -</span>
                    <span class="">Tors </span><span>09.00-20.00</span>
                    <br>
                    <span class="">Fre </span><span>09.00-20.00</span>
                </div>
                <div class="col-md mt-4 pb-4 lh-lg">
                    <h3 class="h5 mb-1">Klipp&Co</h3>
                    <p>Tel: 0910-123 45
                        <br>
                        Storgatan 1, 123 45 Staden
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
