@model KlippCoApp.Models.StylistSchedule

@{
    ViewData["Title"] = "Redigera schema";
    Layout = "_AdminLayout";
    ViewData["BodyClass"] = "admin-page";
}
<div class="container">

    <h1>@ViewData["Title"]</h1>

    <h4>@Model.Day.ToShortDateString()</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />

                <div class="form-group mb-2">
                    <label for="StylistId">Stylist</label>
                    <input type="hidden" asp-for="StylistId" />
                    <p>@ViewData["StylistName"]</p> <!-- Visa som text men till책ter inte 채ndring -->
                </div>

                <div class="form-group mb-2">
                    <label for="Day">Datum</label>
                    <input type="hidden" asp-for="Day" />
                    <p>@Model.Day.ToShortDateString()</p> <!-- Visa som text men till책ter inte 채ndring -->
                </div>

                <div class="form-group">
                    <input type="hidden" asp-for="BufferTime" />
                </div>

                <div class="form-group">
                    <input type="hidden" asp-for="IsAvailable" />
                </div>

                <div class="form-group mb-2">
                    <label asp-for="StartTime" class="control-label"></label>
                    <input asp-for="StartTime" type="time" class="form-control" />
                    <span asp-validation-for="StartTime" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="EndTime" class="control-label"></label>
                    <input asp-for="EndTime" type="time" class="form-control" />
                    <span asp-validation-for="EndTime" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="BreakStart" class="control-label"></label>
                    <input asp-for="BreakStart" type="time" class="form-control" />
                    <span asp-validation-for="BreakStart" class="text-danger"></span>
                </div>
                <div class="form-group mb-2">
                    <label asp-for="BreakEnd" class="control-label"></label>
                    <input asp-for="BreakEnd" type="time" class="form-control" />
                    <span asp-validation-for="BreakEnd" class="text-danger"></span>
                </div>

                <div class="form-group mb-2">
                    <input type="submit" value="Spara" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Tillbaka till scheman</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
