@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout) && parentLayout != null)
    {
        Layout = parentLayout.ToString();
        ViewData["BodyClass"] = "admin-page";
        Layout = "_AdminLayout";

    }
    else
    {
        Layout = "/Areas/Identity/Pages/_Layout.cshtml";
        ViewData["BodyClass"] = "admin-page";
        Layout = "_AdminLayout";


    }
}

<div class="container">
    <h1>Hantera ditt konto</h1>

    <div>
        <h2>Kontoinställnigar</h2>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <partial name="_ManageNav" />
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @RenderSection("Scripts", required: false)
}
