@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personlig data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Ditt konto innehåller personlig data som vi lagrar om dig. Denna sida låter dig ladda ned eller radera denna
            data.</p>
        <p>
            <strong>Radering av denna data tar permanent bort ditt konto. Denna åtgärd kan ej återkallas.</strong>
        </p>
        <div class="row">
                <form class="col" id="download-data" asp-page="DownloadPersonalData" method="post">
                    <button class="btn btn-primary" type="submit">Ladda ned</button>
                </form>
                <p class="col">
                    <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Radera</a>
                </p>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
