@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
    Layout = "_AdminLayout";
    ViewData["BodyClass"] = "admin-page";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Du saknar behörighet för att komma åt denna resurs.
    </p>
</header>
