@page
@model LoginModel

@{
    ViewData["Title"] = "Logga in";
}

<div class="banner d-flex justify-content-center align-items-center">
    <div class="container">
        <img src="~/images/Klipp&Co.svg" alt="Logo" class="img-fluid">
        <h1 class="h1 mt-4 text-light">@ViewData["Title"]</h1>
    </div>
</div>
<div class="row justify-content-center pt-4">
    <div class="col-sm-6">
        <section class="container-sm mx-auto">
            <form id="account" method="post" class="bg-light rounded p-4">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true"
                        placeholder="namn@exempel.com" />
                    <label asp-for="Input.Email" class="form-label">Epost</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password"
                        aria-required="true" placeholder="lösenord" />
                    <label asp-for="Input.Password" class="form-label">Lösenord</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Logga in</button>
                </div>
                <div>
                    <p class="mt-2 mb-2">
                        <a id="forgot-password" asp-page="./ForgotPassword">Glömt lösenord?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrera ny användare</a>
                    </p>
                    @* <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p> *@
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
