@page
@model RegisterModel
@{
    ViewData["Title"] = "Registrera";
}

<div class="banner d-flex justify-content-center align-items-center">
    <div class="container">
        <img src="~/images/Klipp&Co.svg" alt="Logo" class="img-fluid">
        <h1 class="h1 mt-4 text-light">@ViewData["Title"]</h1>
    </div>
</div>

<div class="row justify-content-center pt-4">
    <div class="col-sm-6">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="bg-light rounded p-4">
            <input type="hidden" asp-for="ReturnUrl" />

            <h2>Skapa ett nytt konto.</h2>
            <hr />
            <div class="form-floating mb-3">
                <input asp-for="Input.Firstname" class="form-control" placeholder="John" />
                <label asp-for="Input.Firstname">Förnamn</label>
                <span asp-validation-for="Input.Firstname" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Lastname" class="form-control" placeholder="Doe" />
                <label asp-for="Input.Lastname">Efternamn</label>
                <span asp-validation-for="Input.Lastname" class="text-danger"></span>
            </div>

            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true"
                    placeholder="namn@exempel.com" />
                <label asp-for="Input.Email">Epost</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true"
                    placeholder="lösenord" />
                <label asp-for="Input.Password">Lösenord</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password"
                    aria-required="true" placeholder="lösenord" />
                <label asp-for="Input.ConfirmPassword">Bekräfta lösenord</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Registrera</button>
            <div>
                <p class="mt-4 mb-2">
                    Redan medlem?
                    <a id="forgot-password" asp-page="/Account/Login">Logga in</a>
                </p>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
