:root {
  --bs-primary: #395954;
  --bs-secondary-color: #F4F6F6;
}

.btn-primary {
  background-color: var(--bs-primary);
  border: 2px solid var(--bs-primary);
}

.btn-primary:hover {
  background-color: var(--bs-primary);
  opacity: 80%;
  border: 2px solid var(--bs-primary);
}

.btn-primary:disabled {
  background-color: var(--bs-primary);
  border: 2px solid var(--bs-primary);
  opacity: 60%;
  cursor: not-allowed;
}

.btn-secondary {
    border-color: var(--bs-primary);
    border: 2px solid;
    background-color: var(--bs-secondary-color);
    color: var(--bs-primary);
}
.btn-secondary:hover {
    background-color: #dbe0e0;
    border-color: var(--bs-primary);
    color: #000;
}

.btn-info{
  background-color: #FFAF68;
  border: 2px solid #FFAF68;
}
.btn-info:hover{
  background-color: #FBCBA1;
  border: 2px solid #FFAF68;
}

.nav-pills .nav-link {
  color: var(--bs-primary-color);
}

.nav-pills .nav-link.active {
  background-color: var(--bs-primary);
  color: var(--bs-secondary-color);
}

.nav-pills .nav-link.active:hover {
  opacity: 100%;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #EB6817;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  margin-bottom: 250px;
  padding: 0;
  background-color: #395954;
}

body.admin-page {
  background-color: #f8f9fa;
}

.form-floating>.form-control-plaintext::placeholder,
.form-floating>.form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating>.form-control-plaintext:focus::placeholder,
.form-floating>.form-control:focus::placeholder {
  text-align: start;
}

h1.logo {
  font-family: "Cinzel", 'Times New Roman', Times, serif !important;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #fff;
}

.banner {
  background-image: url(../images/hair_bg.jpg);
  width: 100%;
  margin: 0;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}

a {
  color: var(--bs-primary);
}

a:hover {
  opacity: 80%;
}

.img-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

/* Lägg till en overlay för att göra texten mer läsbar (valfritt) */
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

/* Styla innehållet ovanför */
.content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 2;
}

#service-cards .col-md-4 {
  display: block;
  margin-bottom: 20px;
}

a#action-link {
  text-decoration: none;
}

a#action-link:hover {
  opacity: 90%;
}

/* Grundposition och smidig övergång */
.arrow-icon {
  transition: transform 0.3s ease;
}

/* Flytta pilen åt höger när länken hovras */
#action-link:hover .arrow-icon {
  transform: translateX(5px);
}

a.navbar-brand {
  font-family: "Cinzel", 'Times New Roman', Times, serif !important;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #fff;
}
a.navbar-brand:hover {
  opacity: 100%;
}

.alert-warning {
  background-color: #FFCCAD;
  border-color: var(--bs-primary);
  color: #583131;
}